
/* Apply custom font to the body */
body {
    margin: 0;
    font-family: 'Inter',sans-serif;
    background-color: rgb(240, 240, 240);

    font-weight: 400;
}

/* Apply custom font to paragraphs */
p {
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
/* Cambia el color del bullet activo a verde oscuro */
.swiper-pagination-bullet-active {
    background-color: #006400 !important; /* Verde oscuro */
}
.custom-swiper .swiper-pagination {
    margin-top: 30px;    /* mueve los dots */
    position: relative;   /* asegúrate que el margen funcione */
}
