:root {
    --primary-green: rgba(13, 85, 19, 0.818);
    --hover-green: rgba(91, 211, 95, 0.29);
    --text-dark: #333;
    --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 2px -2px gray;
    --transition-speed: 0.3s;
}

/* ========== Header ========== */
.header {
    display: flex;
    padding: 10px 20px;
    height: 76px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensures the header stays on top of other elements */
    background-color: white;
    /* Set background color to avoid transparency issues */
    box-shadow: var(--shadow-medium);
    /* Optional: Add a shadow for better visibility */
}

/* ========== Desktop Navigation ========== */
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.middle-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-weight: 500;
    transition: color var(--transition-speed), transform var(--transition-speed), background-color var(--transition-speed);
    /* Optional: Add a transition for better user experience */
}

.nav-link:hover {
    color: var(--primary-green);
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.05);
}

.nav-link.active {
    color: var(--primary-green);
    font-weight: bold;
}

/* ========== Mobile Navigation ========== */
.mobile-nav {
    display: none;
    width: 100%;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
}

/* Mobile Menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    /* Slight transparency */
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    box-shadow: var(--shadow-light);
    padding: 15px 0;
    text-align: center;
    backdrop-filter: blur(10px);
}

.mobile-menu.open {
    display: flex;
    animation: fadeIn var(--transition-speed) ease-in;
    /*     animation: slideDown var(--transition-speed) ease-out; */
}

.mobile-menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: transform var(--transition-speed), color var(--transition-speed);
}

.mobile-menu a:hover {
    transform: scale(1.5);
    color: var(--primary-green);
    /* Optional: Add hover effect to links */
}

/* ========== Logos ========== */
.aeropower-logo img,
.pes-logo img {

    max-width: 100px;
    /* Adjust to your desired maximum width */
    max-height: 100px;
    /* Adjust to your desired maximum height */
    height: auto;
    /* Ensures the height scales proportionally */
    width: auto;
    /* Ensures the width scales proportionally */

}

.aeropower-logo-word img {
    max-width: 200px;
    /* Adjust to your desired maximum width */
    max-height: 200px;
    /* Adjust to your desired maximum height */
    height: auto;
    /* Ensures the height scales proportionally */
    width: auto;
    /* Ensures the width scales proportionally */
}

/* ========== Impression Block ========== */
.impression-block {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
    box-shadow: var(--shadow-light);
    /* Necesario para que el border-radius funcione */
}

.team-photo-block {
    flex: 1;
    /* Para que la imagen ocupe la mitad del contenedor */
    position: relative;
    min-width: 50%;
}



.team-photo-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)80%, white);
    pointer-events: none;
    /* Permite que los clics pasen a través del pseudo-elemento */
}


.text-container {
    flex: 1;
    /* Text occupies half of the container */
    padding: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter-text {
    font-size: 18px;
    font-weight: 500;
    color: black;
    white-space: normal;
    /* Allows text to wrap naturally like a paragraph */
    overflow: hidden;
    word-break: break-word;
    /* Ensures words don't overflow */
    max-width: 90%;
    /* Prevents text from stretching too wide */
    line-height: 1.6;
    /* Improves readability */
    display: block;
    /* Makes sure text is properly contained */
}

/* ========== This is What We Do Block ========== */
.this-is-what-we-do-block {
    margin-top: 20px;
    background-color: white;
    display: flex;
    padding: 20px;
    /* Añade padding interno alrededor del contenedor */
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-medium);
    overflow: hidden;
}

.this-is-what-we-do-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    /* Ajusta la altura de las filas */


}

.this-is-what-we-do-grid img {
    max-width: 100%;
    max-height: 230px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /* Mantiene una relación de aspecto cuadrada */
    display: block;
    /* Elimina el espacio en línea inferior generado por las imágenes */
}

.this-is-what-we-do {
    max-width: 60%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Ensures the text is vertically centered */
    text-align: center;
    /* Centers the text horizontally */
}

/* ========== Mission & Vision ========== */
.mission-vision-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

/* ========== Competitions ========== */
.competitions-grid {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-shadow: var(--shadow-light);
}


.competition-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 85%;
    max-width: 800px;
    background-color: var(--primary-green);
    color: white;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;

}

.competitions {
    flex: 1;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    transition: color var(--transition-speed), transform var(--transition-speed), background-color var(--transition-speed);
    /* Optional: Add a transition for better user experience */
}

.competitions:hover {
    background-color: var(--hover-green);
    transform: scale(1.01);
}

.competitions.selected {
    font-weight: bold;
    /* Make text bold */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for better visibility */
}

/* ========== Video & Content ========== */
.video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-row {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping on smaller screens */
    align-items: center;
    margin: 0 auto;
    /* center the row if needed */
    width: 100%;
    /* or a max-width if you want a fixed container width */
    max-width: 1000px;
    padding: 30px 0;
}

.video-row.has-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Split into two columns */
}

.content-container {
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    animation: fadeIn var(--transition-speed) ease-in;
}

/* ========== Footer & Contact ========== */
.uprm-logo img {
    max-width: 100px;
    /* Adjust to make logos bigger */
    max-height: 100px;
    height: auto;
    width: auto;
}

a {
    text-decoration: none;
    /* Removes underline from links */
}

.contact-us,
.logo-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/* ========== Animations ========== */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in;
}

@keyframes imageFade {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.animate-imageFade {
    animation: imageFade 1s ease-in-out;
}

/* ========== Responsive ========== */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
        /* Hide desktop nav on mobile */
    }

    .mobile-nav {
        display: flex;
        /* Show mobile nav */
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .this-is-what-we-do-grid {
        grid-template-columns: 1fr;
        /* Switch to one column */
        grid-template-rows: auto;
    }

    .team-photo-block {
        min-width: 100%;
        /* Remove fixed min-width */
    }

    .video-row.has-content {
        grid-template-columns: 1fr;
        /* Stack on smaller screens */
    }

    .competition-tabs {
        width: 95%;
        /* Full width on mobile */
        margin: 0 auto;
    }

    .typewriter-text {
        font-size: 16px;
        /* Slightly smaller for mobile */
        word-wrap: break-word;
        /* Allow words to wrap */
    }

    .text-container {
        width: 100%;
        padding: 10px;
    }
}